<div class="header">
  <h3>РОЗРАХУНКОВО-ГРАФІЧНА РОБОТА з дисципліни "Теорія інформації і кодування"</h3>
  на тему:
  <h2> «Програмна реалізація стискування даних з використанням методу арифметичного кодування»</h2>
  Виконавець: Студент ІІІ курсу групи ІТзп-91 Синьович Т.В. <br/>
  Керівник: доц., к.т.н. Капшук О.О.
</div>
<br/>

<div class="workArea">
  <div class="coding">
    <h1>Кодування:</h1>
    <div class="formDiv"  >
      <form (ngSubmit)="onSubmit()" >
        &nbsp;
        <mat-form-field class="example-full-width" style="width:50%">
          <mat-label>Введіть текст:</mat-label>
          <input matInput  type="text" class="form-control" id="name"
                 (keyup)="checkText($event)"
                 autocomplete="off"
                 required
                 [(ngModel)]="inputText" name="name">
        </mat-form-field>
        &nbsp;
        <button mat-raised-button color="accent" type="submit" class="btn btn-success"> Здійснити кодування</button>

      </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="codedNumber" *ngIf="dataSourceProbability">
      <h2>Закодоване значення: &nbsp; <b>{{code}}</b></h2>
    </div>
  </div>



  <div class="tables">
    <mat-card id="coding-mat-card" class="common-mat-card" *ngIf="dataSourceProbability && inputText !== ''">
      <mat-card-content class="card-content">
        <div id="search-customer-table" class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceProbability" matSort class="wide-table">
            <caption><b>Ймовірніть літери</b></caption>

            <!-- Position Column -->
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> № пп</th>
              <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Символ</th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="probability">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ймовірінсть</th>
              <td mat-cell *matCellDef="let element"> {{element.probability}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsProbability; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsProbability;"></tr>

          </table>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card id="segment-mat-card" class="common-mat-card" *ngIf="dataSourceSegment && inputText !== ''">
      <mat-card-content class="card-content">
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSourceSegment" matSort class="wide-table">
            <caption><b>Початковий розподіл сегментів</b></caption>

            <!-- Name Column -->
            <ng-container matColumnDef="left">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Ліва границя</th>
              <td mat-cell *matCellDef="let element"> {{element.left}} &nbsp; &nbsp;</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="right">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Права границя</th>
              <td mat-cell *matCellDef="let element"> {{element.right}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsSegment; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSegment;"></tr>

          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="decoding" *ngIf="dataSourceSegment ">
    <div class="formDiv2" style="min-width:30%">
      <h1>Декодування</h1>
      <form (ngSubmit)="onSubmitDecoder()">

        &nbsp;
        <mat-form-field class="example-full-width" style="width:50%">
          <mat-label>Введіть код у форматі "0.12345689":</mat-label>
          <input matInput  class="form-control" id="Decode"
                 (keyup)="checkTextDecoder($event)"
                 [(ngModel)]="inputCode" name="name1"
          >
        </mat-form-field>
        &nbsp;
        <button mat-raised-button color="accent" type="submit" class="btn btn-success"> Розкодувати</button>
      </form>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="decodedString"*ngIf="decodedString">
      <h2>Розкодований текст: &nbsp; <b>{{decodedString}}</b></h2>
    </div>
  </div>

</div>
